body {
    width:100%;
    height:100%;
}
div.mainmenu {
    position:absolute;
    left:1px;
    top:0px;
    width:99.96%;
    height:24px;
}
div.submenu {
    background-color:#CCC;
}

ul.mainmenu {
    width:99.0%;
    background-color:#CCC;
    margin: 0px;
    padding: 3px;
    position:relative;
}
ul.submenu {
    width:100px;
    margin: 0px;
    padding: 0px;
}

li.submenu {
    background-color:#CCC;
}
li.menuitem {
    display:inherit;
}
